<a href="https://colab.research.google.com/github/jsKim-prog/pythonStudy24/blob/master/DictionaryType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 딕셔너리 자료형
* Key와 Value를 한 쌍으로 가지는 자료형
* 리스트나 튜플처럼 순차적으로(sequential) 해당 요솟값을 구하지 않고 Key를 통해 Value를 얻는다.

```
dic = {Key1: Value1, Key2: Value2, Key3: Value3, ...}
```

In [1]:
#딕셔너리 쌍 추가
a = {1:'a'}
a[2] = 'b' #dicName[key] = value
a

{1: 'a', 2: 'b'}

In [2]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [3]:
a[3] = [1,2,3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [4]:
# 딕셔너리 요소 삭제
del a[1] # del dicName[key] -> {key:value} 함께 삭제
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [5]:
# 딕셔너리에서 Key를 사용해 Value 얻기
grade = {'pey':10, 'julliet':99}
grade['pey']

10

In [7]:
a[3]

[1, 2, 3]

## 딕셔너리 만들 때 주의할 사항
1. key 중복 존재 불가능 : 딕셔너리에서 Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시된다.
1. key에 튜플은 가능, 리스트는 불가능(변경가능여부)
1. value에는 변하는 값이든 변하지 않는 값이든 상관 없음

In [8]:
# 1. key 중복 존재 불가능
test = {1: 'a', 2:'b'}
test[2] = 'c' # b->c 덮어쓰기
test

{1: 'a', 2: 'c'}

In [9]:
# 2. key 형태
typeTest = {[1,2]:'hi'}

TypeError: unhashable type: 'list'

In [11]:
typeTest={(1,2):'hi'}
typeTest[3] = 'hello'
typeTest

{(1, 2): 'hi', 3: 'hello'}

## 딕셔너리 관련 함수
* keys() : Key 리스트 만들기
* values() : Value 리스트 만들기
* items() : Key, Value 쌍 얻기
* clear() : Key: Value 쌍 모두 지우기
* get() : Key로 Value 얻기
* in : 해당 Key가 딕셔너리 안에 있는지 조사하기

In [12]:
# Key 리스트 만들기 - keys
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.keys() #dict_keys 객체 리턴

dict_keys(['name', 'phone', 'birth'])

In [13]:
list(a.keys()) # 객체 내 리스트만 리턴

['name', 'phone', 'birth']

In [14]:
# dict_keys 객체 사용 : 리스트를 사용하는 것과 별 차이는 없지만, 리스트 고유의 append, insert, pop, remove, sort 함수는 수행할 수 없다.
for k in a.keys():
    print(k)

name
phone
birth

In [15]:
for k in list(a.keys()):
    print(k)

name
phone
birth

In [22]:
k = list(a.keys()) #list(a,keys())에는 append, sort 등의 list관련 함수 사용 가능
k.append('sex')
k

['name', 'phone', 'birth', 'sex']

In [21]:
list(a.keys())

['name', 'phone', 'birth']

In [23]:
# Value 리스트 만들기
a.values()

dict_values(['pey', '010-9999-1234', '1118'])

In [24]:
# Key, Value 쌍 얻기
# 튜플로 묶은 값 리턴
a.items()

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [25]:
# Key: Value 쌍 모두 지우기
a.clear()
a

{}

In [26]:
# Key로 Value 얻기
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.get('name')

'pey'

In [30]:
a.get('sex') # 없는 키 가져올 때 None == False 이므로 응답 없음
print(a.get('sex')) #print 명령 있으면 None 출력

None

In [31]:
a['name']

'pey'

In [32]:
a['sex']

KeyError: 'sex'

In [33]:
# .get(가져올값, 디폴트값) : 가져올 값이 딕셔너리 안에 없으면 디폴트 값을 가져온다.
a.get('sex','foo')

'foo'

In [34]:
# 해당 Key가 딕셔너리 안에 있는지 조사하기 : return-> True/False
'name' in a

True

In [35]:
'email' in a

False