<a href="https://colab.research.google.com/github/jsKim-prog/pythonStudy24/blob/master/ForExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## for문 연습
* for문은 while문과 같은 반복문으로 차이점은 max가 있나 없나이다.
* for문은 구구단과 같이 9라는 max 값이 있을 때 사용
* while은 max가 없지만 종료되는 시점을 만들어 제공(강제종료 ctrl+c)

```
for 변수 in 리스트 | 튜플 | 문자열 :
    실행문1
    실행문2
```
* 자바의 향상 for문 / forEach 문과 같다.(리스트 | 튜플 | 문자열-> 배열처리)

In [1]:
# 전형적인 for문
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [2]:
# 다양한 for문 사용
a = [(1, 2), (3, 4), (5, 6)]
for (first, last) in a:
    print(first+last)

3
7
11

In [3]:
# 총 5명의 학생이 시험을 보았는데
# 시험 점수가 60점 이상이면 합격이고 그렇지 않으면 불합격이다.

marks = [90, 25, 67, 45, 80] #학생별 시험점수, 5명
number = 0                     #학생출력시 번호 지정
for mark in marks :         # 리스트에 있는 객체를 앞에서부터 1개씩 가져와 mark 변수에 넣음
    number = number+1
    if mark >=60:
        print("%d 번 학생은 합격입니다."% number)
    else:
        print("%d 번 학생은 불합격입니다."% number)

1 번 학생은 합격입니다.
2 번 학생은 불합격입니다.
3 번 학생은 합격입니다.
4 번 학생은 불합격입니다.
5 번 학생은 합격입니다.

In [5]:
# for + continue
marks = [90, 25, 67, 45, 80] #학생별 시험점수, 5명
number = 0                   #학생출력시 번호 지정
for mark in marks:              #리스트 반복문
    number = number + 1
    if mark < 60 : # 점수가 < 60
        continue   # 위로 올라감
    print("%d 번 학생 축하합니다. 합격입니다."% number)

1 번 학생 축하합니다. 합격입니다.
3 번 학생 축하합니다. 합격입니다.
5 번 학생 축하합니다. 합격입니다.

In [6]:
# for문과 같이 자주쓰는 range()
a = range(10)   # 0부터 10 미만 숫자를 포함하는 객체를 만들어줌
a               # 0 ~ 9까지 값을 가지고 있음

range(0, 10)

In [7]:
for num in a:
    print(num)

0
1
2
3
4
5
6
7
8
9

In [9]:
a = range(1, 11) # (시작값, 끝값: 끝숫자는 포함되지 않는다.)
a                # 1~10까지 값을 가지고 있음

range(1, 11)

In [10]:
for i in range(1,11) :
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)) :
    if marks[number] <60:
        continue
    print("%d 번 학생 축하합니다. 합격입니다."% (number+1))

1 번 학생 축하합니다. 합격입니다.
3 번 학생 축하합니다. 합격입니다.
5 번 학생 축하합니다. 합격입니다.

In [12]:
# 구구단을 만들어 보자 2 * 1 = 2 ~ 9 * 9 = 81
# 다중 for문

for i in range(2, 10) :     #2단~9단
    for j in range(1, 10) : # 단마다 곱해지는 값 1~9
        print(i*j, end=" ") #각 단마다 곱하고 출력
                            # print end 파라미터는 기본 엔터를 하지 않고 " "로
    print('')               # 단이 끝나면 엔터 효과

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [13]:
# 리스트 컴프리헨션 => 결과를 리스트로 저장

# 리스트 컴프리헨션을 사용하지 않는 방법
a = [1, 2, 3, 4]        # 입력 리스트값
result = []             # 출력 리스트값
for num in a:           # 입력 리스트값을 1개씩 가져와 num에 넣음
    result.append(num*3)# 출력 리스트값에 3을 곱해 추가(.append)
print(result)           # 반복 후에 출력

[3, 6, 9, 12]

In [14]:
# 리스트 컴프리헨션을 사용하는 방법
# : 없으면 앞이 결과!
a = [1, 2, 3, 4]
result = [num*3 for num in a] # 변수 = [실행문 for 변수 in 배열] 리스트화
print(result)

[3, 6, 9, 12]

In [15]:
# 짝수만 3을 곱해서 리스트에 담고 싶다.
a = [1,2,3,4]
result = [num*3 for num in a if num % 2 == 0]
#결과배열 =  실행문 for      if 조건
print(result)

[6, 12]