<a href="https://colab.research.google.com/github/jsKim-prog/pythonStudy24/blob/master/FunctionExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 함수(function)
* 함수는 단일 동작을 수행하는 블럭을 말한다.
* 자바에서는 {} 블럭단위로 수행하는데 파이썬은 인터프리터로 줄단위 수행
* 프로그램의 메모리 영역은 크게 3가지로 나뉘어짐
  - 스택영역 : 변수에 기본타입이나 참조타입을 연결
  - 힙영역 : 객체를 생성해서 주소를 가지고 있음
  - 메서드영역 : 동작들을 보관하고 있다가 호출되면 매개값(파라미터)과 처리 후 리턴을 제공(함수/메서드를 보관)
* 함수를 사용하는 이유 : 반복적인 코드 발생을 최소화하기 위해서(CRUD)

In [8]:
# 파이썬 함수의 구조
# def (define : 정의) 함수 생성
# def 함수이름(매개변수) :
#   실행문1
#   실행문2
#   ...

def add(a, b):  # add 라는 함수를 정의(생성), 매개값은 2개를 받음
    print("add() 메서드 종료")
    return a+b  # 매객값으로 받은 2개의 변수를 더하여 리턴
    # # 리턴 없는 경우 print
    # add() 종료

print(add("김", "기원"))

add() 메서드 종료
김기원

In [9]:
# *args : 매개값이 몇개인지 모를 때(1 이상~)
def add_many(*args): #*args 매개값이 1개 이상
    result = 0       #결과를 저장하는 변수
    for i in args:   #*args는 리스트로 저장이 됨
        result += i  #result = result+i
    return result    # 결과 리턴
print(add_many(1,2,3,4,5,6,7,8,9))
# args는 관례(프로그래머들끼리의 약속)

45

In [11]:
test = add_many(9,8,7,6)
print(test)

30

In [12]:
def add_multi(choice, *args):
    if choice =="add":
        result = 0
        for i in args:
            result += i
    elif choice == "mul":
        result = 1
        for i in args:
            result *= i
    return result

print(add_multi("mul", 25, 4))

100

In [13]:
result = add_multi("add", 1,2,3,4,5)
print(result)

15

In [14]:
result = add_multi("mul", 3,4,5)
print(result)

60

In [15]:
result = add_multi("add", "김", "기", "원")

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [16]:
# **kwargs : 키워드 매개변수(딕셔너리)

def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(kkw=312)

{'kkw': 312}

In [18]:
print_kwargs(id="kjs", pw="********", phone=5476, email="jscode77@gmail.com")

{'id': 'kjs', 'pw': '********', 'phone': 5476, 'email': 'jscode77@gmail.com'}

In [22]:
# 만약 리턴 값이 2개???
def add_and_mul(a, b):
    return a+b, a*b, a-b

result = add_and_mul(3,4)
a,b,c = add_and_mul(3,4)
print(result)
print(a)
print(b)
print(c)

(7, 12, -1)
7
12
-1

In [23]:
def say_myself(name, old, man=True):
    print("나의 이름은 %s 입니다." % name)
    print("나의 나이는 %d 세 입니다." % old)
    if man :
        print("남자입니다.")
    else:
        print("여자입니다.")

say_myself("김기원", 31)

나의 이름은 김기원 입니다.
나의 나이는 31 세 입니다.
남자입니다.

In [24]:
say_myself(old=32, name='김지선', man=False)

나의 이름은 김지선 입니다.
나의 나이는 32 세 입니다.
여자입니다.

In [25]:
# 람다식 : 인터페이스 형태의 실행문이 1개인 코드
# 자바에서 람다식은 -> 사용하고 자바스크립트 =>
# 파이썬의 람다식은
# 변수(함수명) = lambda 매개변수 :  실행문

add = lambda a,b : a+b
result = add(3,4)
print(result)

7

In [ ]:
# 미션
# 자판기 코드를 함수로 리빌드 진행 시작!