<a href="https://colab.research.google.com/github/jsKim-prog/pythonStudy24/blob/master/ListType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 테이블 자료처리
#### 각각의 객체를 모아서 처리하는 용도
* 리스트 자료형
* 튜플 자료형
* 딕셔너리 자료형
* 집합 자료형

In [ ]:
# 리스트 자료형 : 대괄호를 이용하여 감싸고 쉼표로 요소를 구분
#자바의 배열과 유사하나 배열은 초기행렬값을 갖는다.(배열의 크기조정 불가)-> ArrayList를 사용(파이썬은 기본이 ArrayList)
odd = [1, 3, 5, 7, 9]
a = [] #빈 리스트 a = list() 도 생성 가능
b = [1, 2, 3] #정수형 리스트
c =['Life', 'is', 'too', 'short'] #문자형 리스트
d = [1, 2, 'Life', 'is'] #혼합형 리스트
e = [1, 2, ['Life', 'is']] #리스트 내의 리스트

In [2]:
# 리스트 인덱싱
a = [1, 2, 3]
print(a[0]) #a리스트의 [0]번 인덱스 출력

1

In [3]:
a[0]+a[2]

4

In [4]:
a[-1] # -1 : 마지막 요소값

3

In [9]:
a = [1, 2, 3, ['a', 'b','c']] #2차원 배열
a[-1][2]                      #2차원 배열을 출력하려면[행][열]

'c'

In [10]:
# 3차원 배열 -> 사진, 영상처리, 게임(가로*세로->픽셀, 깊이->RGB 컬러)
member = [['김기원', ['교사', 312]],['김지선', ['학생', 312]], ['윤인영', ['학생2', 311]],['육진', ['학생3', 313]]]
member[1][1][1]

312

In [12]:
# 리스트 슬라이싱
a = [1, 2, 3, 4, 5]
a[0:3]

[1, 2, 3]

In [15]:
a[:2] #처음부터 2번 인덱스 전까지

[1, 2]

In [14]:
a[2:] #2번부터 마지막까지

[3, 4, 5]

In [16]:
a=[1,2,3,['a', 'b','c'], 4,5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [17]:
a[3][1:]

['b', 'c']

In [18]:
# 리스트 연산 : +, * 를 활용할 수 있다.
a = [1, 2, 3]
b = [4, 5, 6]
a+b #문자열의 + 계산과 유사함

[1, 2, 3, 4, 5, 6]

In [20]:
a*3 #변수에 넣어야 결과 저장된다!

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [21]:
# 리스트의 길이 구하기
len(a)

3

In [22]:
# 리스트에 글자 추가하기
a = [1, 2, 3]
a[2] + "hi" #3hi???

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
str(a[2])+"hi" # str(정수) -> 정수가 문자열로 변환 "3"+"hi"

'3hi'

In [25]:
# 리스트 값 수정, 삭제
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [26]:
a[2] = "\000" #null처리 테스트
a

[1, 2, '\x00']

In [27]:
del a[2] # del 명령어는 객체를 삭제하는 명령어
a

[1, 2]

In [29]:
a = [1, 2, 3, 4, 5]
del a[2:] #remove, pop 함수도 제거용
a

[1, 2]

In [30]:
# 리스트 관련 함수
#.append() : 이미 만들어진 리스트에 객체를 추가할 때
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [31]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [32]:
# sort() : 리스트 요소를 정렬해준다.
a=[1, 4, 3, 2]
a.sort() #오름차순 정렬
a

[1, 2, 3, 4]

In [33]:
a.reverse() #내림차순 정렬
a

[4, 3, 2, 1]

In [37]:
a = [6, "김기원", 'a', '@']
a.sort
a

[6, '김기원', 'a', '@']

In [38]:
a.reverse #타입이 섞이면 sort, reverse 사용 안됨
a

[6, '김기원', 'a', '@']

In [39]:
b = ['z', 'd', 'b', 'k', 'g']
b.sort()
b

['b', 'd', 'g', 'k', 'z']

In [40]:
c = ["김기원", "김지선", "윤인영", "육진"]
c.sort()
c

['김기원', '김지선', '육진', '윤인영']

In [41]:
# 인덱스 반환 : .index(값)
a = [1, 2, 3]
#    0  1  2
a.index(3)

2

In [42]:
a.index(1)

0

In [43]:
a.index(10)

ValueError: 10 is not in list

In [44]:
# 리스트에 요소 삽입 : .insert(index, value)
a.insert(0, 4) # 0 번지에 4 값을 추가하고 기존 값은 인덱스가 밀림
a

[4, 1, 2, 3]

In [45]:
a.insert(3,5) #3 번지에 5 값을 추가하고 기존 값은 인덱스가 밀림
a

[4, 1, 2, 5, 3]

In [46]:
a.remove(3) #.remove(value) : value 삭제
a

[4, 1, 2, 5]

In [47]:
b = [3, 1, 3, 1, 13, 3, 1]
b.remove(3) # 3 이 여러개 일 때는 앞에 있는 요소만 제거됨
b

[1, 3, 1, 13, 3, 1]

In [48]:
b.remove(3)
b

[1, 1, 13, 3, 1]

In [50]:
# 리스트 요소 끄집어 내기 : .pop(index)
c = [1,2,3,4,5,6]
c.pop() # 마지막 요소

6

In [51]:
c # 제거됨

[1, 2, 3, 4, 5]

In [52]:
c.pop(3)

4

In [53]:
c

[1, 2, 3, 5]

In [55]:
d = [3,1, 3, 13, 33,11,33,3,1,3,1,3]
d.count(3) #값이 몇개인지

5

In [57]:
len(d)

12

In [58]:
# 리스트 확장 : extend(x) x는 리스트만 올 수 있으며 a[] + x[]
e = [1,2,3]
e.extend([4,5]) #리스트 추가
e

[1, 2, 3, 4, 5]

In [59]:
f = [6,7,8]
e.extend(f)
e

[1, 2, 3, 4, 5, 6, 7, 8]